<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Friend Finder</title>
	</head>
	<body>
		{{{ body }}}
	</body>
	<script type="text/javascript" src="../../app/friends.js"></script>
</html>
